language: go

go:
  - "1.13"
  - tip

# calls goreleaser
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux
    condition: $TRAVIS_GO_VERSION = 1.13
