language: go

go:
  - "1.17.x"

cache:
  directories:
    - $GOPATH/pkg/mod

# calls goreleaser
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
